* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(black, rgb(29, 29, 29));
  min-height: 100vh;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.inputs p {
  color: white;
  font-size: 0.9rem;
}

.num-input {
  padding: 0.5rem 0rem;
  accent-color: rgb(11, 164, 90);
}

.text-input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font: 1rem sans-serif;
  font-weight: 500;
}

.lyrics {
  color: white;
  padding: 1rem 8rem;
}

button {
  padding: 0.5rem;
  background: gray;
  transition: all 0.2 ease;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.active {
  background: rgb(11, 164, 90);
  cursor: pointer;
  color: white;
}

.active:hover {
  background: rgb(255, 255, 255);
  color: rgb(11, 164, 90);
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.lyrics {
  max-width: 48rem;
  font-weight: 500;
  line-height: 1.8;
  font-size: 1.2rem;
}
.loading {
  height: 0;
  width: 0;
  padding: 1rem;
  border: 0.2rem solid rgb(255, 255, 255);
  border-right-color: rgb(11, 164, 90);
  border-radius: 2rem;
  -webkit-animation: rotate 1s infinite linear;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
